DATABASE_URL="postgresql://postgres:password@localhost:5432/kosanku?schema=public"
JWT_SECRET="ganti-dengan-secret-key-yang-kuat-dan-acak"

# HTTP tanpa SSL: set false (default). HTTPS: set true
COOKIE_SECURE="false"

# Midtrans (sandbox: https://dashboard.sandbox.midtrans.com)
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxxxxxx"
MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxxxxxx"
MIDTRANS_IS_PRODUCTION="false"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="SB-Mid-client-xxxxxxxx"
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION="false"
